.form_detail_user {
    margin-top: 60px;
    background-color: #1d1e22;
    
}

.form_detail_user .menu {
    width: 25%;
}

.menu a {
    color: #d4d4dc;
    font-size: 13px;
    min-width: 160px;
    font-weight: normal;
    text-transform: uppercase;
}

.menu a.active {
    color: #feda6a;
}

.tab-content {
    width: 100%;
}

form {
    width: 40%;
}

form label {
    color: #d4d4dc !important;
    opacity: 0.5;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.24px;
    margin-bottom: 0;
}

form .form__field {
    color: #ffffff;
    height: 22px;
    font-size: 17px;
    line-height: 22px;
    padding-bottom: 30px;
    position: relative;
}

form .form__field input {
    color: currentColor;
    width: 100%;
    border: 0;
    height: 1.1876em;
    margin: 0;
    display: block;
    padding: 6px 0 7px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    letter-spacing: inherit;
    outline: none;
    transition: all 200ms;
}

form .form__field:hover::before {
    border-bottom:2px solid white;
}

form .form__field::before{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    content: "";
    border-bottom: 2px solid #393f4d;
}

.form__input {
    margin-bottom: 15px;
}

div.active {
    padding-left: 50px;
}

.btn__update {
    background-color: #feda6a;
}